@page "/"
@model HostBase.Server.Pages._HostModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HostBase.Client

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>HostBase</title>
    <base href="/" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <component type="typeof(AcBlog.Extensions.StyleSheetDeclare)" render-mode="Static" />
</head>

<body>
    <app>
        <component type="typeof(App)" render-mode="Static" />
    </app>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.webassembly.js"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
    <script src="_content/AcBlog.Extensions.Core/component.js"></script>

    <component type="typeof(AcBlog.Extensions.ScriptDeclare)" render-mode="Static" />
</body>

</html>
