@page "/antdesign"

@using AntDesign

@inject NotificationService _notice

<Button Type="primary" OnClick="OnButtonClick">Hello World!</Button>

<AntContainer />

@code {
    private async Task OnButtonClick()
    {
        await _notice.Open(new NotificationConfig()
        {
            Message = "title",
            Description = "This is the content of the notification. This is the content of the notification. This is the content of the notification."
        });
    }
}
