@page "/antdesign"

@using AntDesign

@inject NotificationService _notice
@inject MessageService _message

<Button Type="@ButtonType.Primary" OnClick="OnButtonClick">Hello World!</Button>

<AntContainer />

@code {
    private async Task OnButtonClick()
    {
        await _message.Info("This is a normal message");
        await _notice.Open(new NotificationConfig()
        {
            Message = "title",
            Description = "This is the content of the notification. This is the content of the notification. This is the content of the notification."
        });
    }
}
